{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}"
</head>
<body>
     <form class="bg-white rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="inline-block font-bold text-sm text-blue-500" type="file" name="file" id="file">
        <input class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit" name="submit" id="">
     </form>
     <table class="table table-striped table-dark">
        <thead class="thead-dark">
          <tr>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Name</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Price</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Rent</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">EMI</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Tax</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Expenses</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Net Expenses</th>
            <th class="px-6 py-2 text-sm text-gray-500" scope="col">Net Income</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% if data_objects %}           
                    {% for object in data_objects %}
                        <tr>
                            <td class="px-6 py-4 text-sm text-gray-500 font-bold">{{ object.name }}</td>
                            <td class="px-6 py-4 text-sm text-green-500">{{ object.price }}</td>
                            <td class="px-6 py-4 text-sm text-green-500">{{ object.rent }}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{ object.emi }}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{ object.tax }}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{ object.exp }}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{ object.monthly_expenses }}</td>
                            <td class="px-6 py-4 text-sm text-green-500">{{ object.monthly_income }}</td>
                        </tr>
                    {% endfor %}              
        {% endif %} 
        </tbody>
      </table>
</body>
</html>